name: CI

on:
  push:
    branches: [ "main", "feature/*", "fix/*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Restore
        run: dotnet restore MusicBox.sln

      - name: Build
        run: dotnet build MusicBox.sln --no-restore -c Release

      - name: Test
        run: dotnet test MusicBox.sln --no-build -c Release
